@import './mixins/mixins.scss';

@include b(drag-sort) {
  display: flex;
  &__group {
      display: flex;
      flex-direction: column;
      padding: 30px 32px 34px;
      &.empty {
          .hi-drag-sort__group-body {
              border: 1px dashed#eee;
              .empty-tip {
                  display: block;
              }
          }
      }
  }
  &__group-header {
      width: 100%;
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  &__group-body {
      flex: 1;
      width: 100%;
      min-height: 88px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      pointer-events: none; // 为了在进行框选的时候，让外容器获得鼠标事件

      .empty-tip {
          padding: 34px 24px;
          font-size: 14px;
          color: #909399;
          display: none;
      }

      .group-item {
          pointer-events: auto;
          margin: 6px 12px 6px 0px;
      }
  }
  &__group-footer {
    pointer-events: none;
    width: 100%;
  }
}