@keyframes bouncedelay {
  0%, 80%, 100% {
      transform: scale(0.0);
  }
  40% {
      transform: scale(1.0);
  }
}

.hi-loading-fade-enter,
.hi-loading-fade-leave-active {
  opacity: 0;
}

.hi-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255 ,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s;

  &.is-fullscreen {
    position: fixed;
  }

  &__circle-box {
    font-size: 0;
  }

  &__circle {
    border-radius: 50%;
    display: inline-block;
    animation: bouncedelay 1.4s infinite ease-in-out;
    animation-fill-mode: both;
    background-color: #2254f4;

    &:nth-child(1) {
        animation-delay: -0.32s;
    }
    &:nth-child(2) {
        animation-delay: -0.16s;
    }
  }

  &__text {
    color: #409eff;
    margin: 6px 0;
    font-size: 14px;
  }
}