@import './mixins/mixins.scss';

@include b(tabs) {
  &.is-top {
    .hi-tabs__bar {
      display: flex;
      border-bottom: 1px solid #dadde1;
    }
    .hi-tabs__line {
      height: 4px;
      width: 0;
      left: 0;
      bottom: -1px;
    }
  }
  &.is-left {
    display: flex;
    .hi-tabs__bar {
      border-right: 1px solid #dadde1;
    }
    .hi-tabs__line {
      top: 0;
      right: -1px;
    }
    .hi-tabs__content {
      flex: 1;
    }
  }
  &__bar {
    position: relative;
  }
  &__line {
      position: absolute;
      width: 4px;
      height: 40px;
      border-radius: 1px;
      background-color: #2254f4;
      z-index: 1;
      transform-origin: 0 0;
      transition: transform .3s cubic-bezier(.645, .045, .355, 1),
      width .3s cubic-bezier(.645, .045, .355, 1),
      top .3s cubic-bezier(.645, .045, .355, 1),
      left .3s cubic-bezier(.645, .045, .355, 1);
  }
  &__tab {
    color: #444950;
    font-size: 14px;
    cursor: pointer;
    margin-right: 24px;
    padding: 12px 0;
    &.active {
      color: #000;
      font-weight: 700;
    }
  }
}

.fade-enter-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}