.alan-header {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-size: 24px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  a {
    display: block;
    img {
      vertical-align: middle;
    }
  }
}

.alan-body {
  display: flex;
}

.alan-nav {
  width: 230px;
  height: calc(100vh - 60px);
  background-color: aquamarine;
  padding: 15px;
  dt {
    font-weight: bold;
    font-size: 14px;
  }
  dd {
    padding-left: 20px;
    font-size: 14px;
  }
}

.alan-contain {
  flex: 1;
}