.alan-header {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-size: 24px;
  color: #fff;
  background-color: green;
}

.alan-body {
  display: flex;
}

.alan-nav {
  width: 230px;
  height: calc(100vh - 60px);
  background-color: aquamarine;
  dt {
    font-weight: bold;
    font-size: 14px;
  }
  dd {
    padding-left: 20px;
    font-size: 14px;
  }
}

.alan-contain {
  flex: 1;
}