.alan-header {
  height: 60px;
  line-height: 60px;
  padding:0 20px;
  font-size: 24px;
  color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  .logo-box {
    display: block;
    width: 200px;
    img {
      vertical-align: middle;
    }
  }
  .quick-link {
    font-size: 14px;
  }
}

.alan-body {
  display: flex;
}

.alan-nav {
  width: 200px;
  height: calc(100vh - 60px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding:30px 15px 30px 24px;
  color: #333;
  a {
    position: relative;
    color: inherit;
    &.router-link-active {
      color: blue;
    }
    &.router-link-exact-active {
      &::before {
        content: "🦌";
        position: absolute;
        left: -20px;
      }
    }
  }
  dl {
    margin-bottom: 5px;
  }
  dt {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  dd {
    padding-left: 20px;
    font-size: 14px;
  }
}

.alan-contain {
  flex: 1;
  height: calc(100vh -60px);
  overflow-y: scroll;
  overflow-x: hidden;
}