@charset "utf-8";
/**
 * @Author   alan
 * @Date     2016-09-01
 * @E_mail   741484865@qq.com
 *
 */
html {height: 100%;}
body, h1, h2, h3, h4, h5, h6, p,dl, dt, dd, ul, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin: 0;padding: 0;}
body {font: 12px "PingFang HK","Microsoft YaHei","Arial";color: #555;line-height: 1.5;}
*,::after,::before {box-sizing: border-box;}

ol,ul,li {list-style-type:none;vertical-align : middle;}
img {vertical-align:top;border: 0;}
input,select,textarea,button {vertical-align:middle;font-family: "Microsoft YaHei";}
textarea,input {text-indent: 10px;} /*表单元素默认有10像素的缩进*/
input[type='submit'],input[type='button'],button {text-indent: 0;text-align: center;cursor: pointer;}
label, button, a {cursor: pointer}
ins,em,b,i {text-decoration: none;font-style: normal;}

/* 去掉浏览器激活样式 */
select:focus,
textarea:focus,
input:focus,
button{outline:none;}

/* 提示文字的初始样式 */
input::-webkit-input-placeholder,
input::-moz-input-placeholder,
textarea::-webkit-textarea-placeholder,
textarea::-moz-textarea-placeholder{color: #999;transition:color .5s;}

/* 提示文字的激活样式 */
input:focus::-webkit-input-placeholder,
input:focus::-moz-input-placeholder,
input:hover::-webkit-input-placeholder,
input:hover::-moz-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-input-placeholder,
textarea:hover::-webkit-input-placeholder,
textarea:hover::-moz-input-placeholder{color: #c2c2c2;}

/* table */
table {border-collapse:collapse;border-spacing:0;font:inherit;}

/* a_link */
a {color: inherit;text-decoration:none;}
a:hover {text-decoration:none;cursor:pointer;}
a:focus { background-color:transparent; }

h1,h2,h3,h4,h5,h6,em {font-weight: normal;}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

/* 浮动与清浮动 */
.left {float:left;}
.right {float:right;}
.clear::after {content:'\20';display:block; height:0;line-height:0;font-size:0;clear:both;visibility:hidden;}
.hide {display: none!important;}
.show {display: block!important;}

.font-weight-3 {font-weight: 300;}

.text_center {text-align: center;}
.text_overflow {display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.overflow_h {overflow: hidden;}
.auto {margin-right: auto;margin-left: auto;}

/*滚动动画的样式*/
.disable-hover {pointer-events: none;}
.scroll-animate.animated {visibility: hidden;}
.font-fadeIn font{display: inline-block;}


.layout-table {display: table;height: 100%;width: 100%;}
.layout-table-cell {display: table-cell;vertical-align: middle;}
.layout-table-content {display: inline-block;}


.black-cover-1::before {display: block;content: '';width: 100%;height: 100%;background-color: rgba(0,0,0,.1);position: absolute;left: 0;top: 0;}
.black-cover-2::before {display: block;content: '';width: 100%;height: 100%;background-color: rgba(0,0,0,.2);position: absolute;left: 0;top: 0;}
.black-cover-3::before {display: block;content: '';width: 100%;height: 100%;background-color: rgba(0,0,0,.3);position: absolute;left: 0;top: 0;}
.black-cover-4::before {display: block;content: '';width: 100%;height: 100%;background-color: rgba(0,0,0,.4);position: absolute;left: 0;top: 0;}
.black-cover-5::before {display: block;content: '';width: 100%;height: 100%;background-color: rgba(0,0,0,.5);position: absolute;left: 0;top: 0;}

.bg-img-cover {background-size: cover;background-position: center;background-repeat: no-repeat;}

.before-after {position: relative;}
.before-after::before,.before-after::after{content: '';display: block;position: absolute;}

/*全站的弹窗样式*/
@keyframes bounceIn{0%{opacity:0;transform:scale(.5)}100%{opacity:1;transform:scale(1)}}
@keyframes bounceOut{0%{opacity:0;transform:scale(1)}100%{opacity:1;transform:scale(0)}}
@keyframes bounceInOut{0%{opacity:0;transform:scale(.5)}15%{opacity:1;transform:scale(1)}85%{opacity:1;transform:scale(1)}100%{opacity:0;transform:scale(0)}}

.sharonTips {animation-fill-mode: both;animation-duration: .3s;z-index: 19910119;width: 260px;position: fixed;-webkit-overflow-scrolling:touch;background-color: #fff; -webkit-background-clip: content;box-shadow: 1px 1px 50px rgba(0,0,0,.3);left: 50%;top:50%;margin-left:-130px;font-size: 14px;}
.sharonTips-shade {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:19910116;background-color: #000;opacity: 0.3;}

/*弹窗的动画行为*/
.anim-bounceIn {animation-name:bounceIn}
.anim-bounceOut {animation-name:bounceOut;}
.anim-bounceInOut {animation-name:bounceInOut;animation-duration: 2.4s;}


/*弹窗的样式*/
.sharonTips-toast{position:fixed;top:50%;left:50%;width:auto;padding: 15px 30px;text-align:center;color:#fff;border-radius:3px;background:rgba(0,0,0,0.7);z-index: 19910120;}
.sharonTips-confirm{}
.sharonTips-prompt input{width: 100%;height: 30px;line-height: 30px;}


.sharonTips-title {padding: 0 80px 0 20px;height: 42px;line-height: 42px;border-bottom: 1px solid #eee;font-size: 14px;color: #333;overflow: hidden;background-color: #F8F8F8;}
.sharonTips-content {position: relative;padding: 20px;line-height: 24px;word-break: break-all;font-size: 14px;overflow-y: auto;}
.sharonTips-closeBtn {position: absolute;right: 15px;top: 15px;font-size: 0;line-height: initial;}
.sharonTips-closeBtn a {display: inline-block;vertical-align: top;position: relative;width: 16px;height: 16px;margin-left: 10px;font-size: 12px;background:url('images/sharonTips-icon.png') 0 -40px no-repeat;}
.sharonTips-btn {text-align: right;padding: 0 10px 12px;pointer-events: auto;user-select: none;}
.sharonTips-btn a {height: 28px;line-height: 28px;margin: 0 6px;padding: 0 15px;border: 1px solid #dedede;background-color: #f1f1f1;color: #333; border-radius: 2px;font-weight: 400;cursor: pointer;text-decoration: none;display: inline-block;vertical-align: top;}
.sharonTips-btn a.yesBtn {border-color: #4898d5;background-color: #2e8ded;color: #fff;}



/*animate.css 的一点补充动画*/

.fadeInLeftSmall {animation-name: fadeInLeftSmall;}
@keyframes fadeInLeftSmall {
    from { opacity: 0;transform: translate3d(-10%, 0, 0);}
    to { opacity: 1;transform: none;}
}



.fadeInRightSmall {animation-name: fadeInRightSmall;}
@keyframes fadeInRightSmall {
    from {opacity: 0;transform: translate3d(10%, 0, 0);}
    to { opacity: 1;transform: none;}
}



