
@media screen and (min-width: 320PX) { html { font-size: 42.7PX; } }
@media screen and (min-width: 360PX) { html {font-size: 48PX; } }
@media screen and (min-width: 375PX) { html { font-size: 50PX; } }
@media screen and (min-width: 384PX) { html { font-size: 51.2PX; } }
@media screen and (min-width: 400PX) { html { font-size: 53.3PX; } }
@media screen and (min-width: 414PX) { html { font-size: 55.2PX; } }
/*@media screen and (min-width: 424PX) { html { font-size: 56.5PX; } }
@media screen and (min-width: 480PX) { html { font-size: 64PX; } }
@media screen and (min-width: 540PX) { html { font-size: 72PX; } }
@media screen and (min-width: 720PX) { html { font-size: 96PX; } }
@media screen and (min-width: 750PX) { html { font-size: 100PX; } }*/

html {max-width:414px;margin: 0 auto;}
body {transform: translate3d(0,0,0);overflow-x: hidden;background: url("../images/body-bg.jpg") left top repeat;}

// 一些变量
$right:.28rem;
$left:.28rem;
$top:.28rem;

// 一些通用class
%txt-img {display: block;position: absolute;transition: transform .4s;transform: scale(0);transition-delay: 1s;}
%people {
  position: absolute;transition: all .6s;transform: translateY(100%);opacity: 0;
  background-repeat: no-repeat;background-position: 0 0;background-size: contain;
}



// 总结构
.page {
  min-height: 100vh;background-size:100% 100%!important;width: 100%;overflow: hidden;
  .row {
    position: relative;
    width: 94%;margin-left:auto;margin-right: auto;
    .item {
      position: absolute;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}


// 每一个屏幕的样式
.page-1 {
  .row {width: 6.8rem;}
  .row-1 {
    height:1.65rem;background: url("../images/p1-1.png") left top no-repeat;background-size: contain;
  }

  .row-2 {
    margin-top: .05rem;
    height: .88rem;background: url("../images/p1-3.png") left top no-repeat;background-size: contain;
  }

  .row-3 {
    margin-top: .05rem;
    height: 5.07rem;
    .item-1 {
      width:.88rem;height: 100%;left: 0;top:0;background: url("../images/p1-2a.png") center center no-repeat;background-size: contain;
    }
    .item-2 {
      width:5.74rem;height: 100%;right: 0;top:0;background: url("../images/p1-2b.png") center center no-repeat;background-size: contain;
    }
  }

  .row-4 {
    margin-top: .05rem;
    height: 4.42rem;background: url("../images/p1-4.png") left top no-repeat;background-size: contain;
  }
}

.page-2 {
  //background-color: blue;
  .row-1 {
    height: 4.7rem;
    .item-0 {
      width: 2.19rem;
      height: 2.21rem;
      left: 0;top:$top;
      background-image: url("../images/p2-0.png");
      > div {
        position: absolute;
        left: 0;top:0;width: 2.06rem;height: 1.66rem;background-size: contain;transform: translate(0,0);
      }
      .y-1992 {
        background-image: url("../images/p2-0-1992.png");
      }
      .y-1993 {
        background-image: url("../images/p2-0-1993.png");
      }
      .y-1994 {
        background-image: url("../images/p2-0-1994.png");
      }
      .y-1995 {
        background-image: url("../images/p2-0-1995.png");
      }

      &.fadeInLeft{
        > div {transition:transform .4s;}
        .y-1992 {transform: translate(-0.2rem, 2.3rem);z-index: 1;transition-delay: 1.2s;}
        .y-1993 {transform: translate(-0.1rem, 2.6rem);z-index: 2;transition-delay: 1.4s;}
        .y-1994 {transform: translate(.1rem, 2.4rem);z-index: 3;transition-delay: 1.6s;}
        .y-1995 {transform: translate(0.2rem, 2.8rem);z-index: 4;transition-delay: 1.8s;}
      }

    }
    .item-1 {
      width: 4.7rem;
      height: 2.5rem;
      right: 0;
      top:$top;
      background-image: url("../images/p2-1.png");
      img {
        width: 2.6rem;height: .91rem;top:.5rem;right:-.1rem;
        @extend %txt-img;
      }
      &.fadeInRight img {transform: scale(1);}
    }
    .item-2 {
      width: 4.7rem;
      height: 2.28rem;
      bottom:0;
      right: 0;
      background-image: url("../images/p2-2.png");

      > div {
        text-indent: -200%;overflow: hidden;
        width: 70px;
        position: absolute;
        height: 140px;
      }

      // 当父元素运动之后，才让子元素应用动画，提高性能。
      &.fadeInRight {
        > div {animation: boom 1s steps(5) infinite;}
      }

      .pao-right {
        background: url("../images/step/pao-2.png") 0 0 no-repeat;
        right: -.5rem;top:.2rem;
      }
      .pao-left {
        background: url("../images/step/pao-1.png") 0 0 no-repeat;
        left: -.4rem;top:.5rem;
      }
    }
  }
  .row-2 {
    height: 2.68rem;margin-top: .2rem;
    .item-1 {
      width:4.18rem;height: 2.68rem;background-image: url("../images/p2-3.png");
      left: 0;top:0;z-index: 2;
      img {
        @extend %txt-img;
        width: 3.54rem;height: 1.05rem;left: 1.04rem;top:-.32rem;
      }
      .people {
        width: 2.14rem;height: 2.18rem;background:url("../images/p2-3-people.png") center center no-repeat;background-size: contain;
        position: absolute;left: .8rem;bottom:0;transform: translateY(100%);opacity: 1;
      }
      .light{
        width: 209px;height: 532px;background: url("../images/p2-3-light.png") 0 0 no-repeat;
        left:0;top:0;
      }


      &.slideInLeft {
        img {transform: scale(1);}
        .people{
          transition: all .4s ease-out;
          transition-delay: 1s;transform: translateY(0);opacity: 1;
        }
        .light {
          animation: light 1s steps(4) infinite;animation-delay: 1.4s;
        }
      }
    }
    .item-2 {
      width: 3.32rem;height: 2.93rem;background-image: url("../images/p2-4.png");
      top:-.25rem;right:-.18rem;z-index: 1;
      .s {
        position: absolute;width: .51rem;height: .34rem;background: url("../images/p2-4-a.png") center center no-repeat;background-size: contain;
        &:nth-child(1){left: 0;bottom:.7rem;}
        &:nth-child(2){left: .8rem;bottom:.56rem;}
        &:nth-child(3){left: 1.49rem;bottom:.5rem;background-image: url("../images/p2-4-b.png");width: .35rem;height: .46rem;}
        &:nth-child(4){right: .53rem;bottom:.36rem;}
      }

    }
  }
  .row-3 {
    height: 2.7rem;margin-top: .2rem;
    .item {
      width: 100%;height: 100%;left: 0;top:0;background:url("../images/p2-5-yun.png") top left repeat;
      background-size: auto 100%;
      //overflow: hidden;
      animation-fill-mode: both;
      animation: cloud 30s infinite linear;

      // 武夷山
      &::before{
        display: block;content:'';width: 100%;height: 100%;left: 0;top:0;
        position: absolute;background: url("../images/p2-5-shang.png") left top no-repeat;
        background-size: 100%;
      }


      img{
        @extend %txt-img;
        width: 3.17rem;height: 1.08rem;left:-.2rem;top:.2rem;
      }
      &.on img {transform: scale(1);}
    }
  }
  .row-4 {
    height: 2.31rem;margin-top: .2rem;
    .item-1 {
      width: 2.94rem;height:100%;background-image: url("../images/p2-6.png");left: 0;top:0;overflow: hidden;
      img {
        display: block;position: absolute;
        width: 1.48rem;
        height: 1.83rem;
        bottom:0;left: .45rem;
        transform: translateY(100%);
      }
      &.slideInLeft img{transition: transform .6s ease-out;transition-delay: 1s;transform: translateY(0);}
    }
    .item-2 {
      width: 4.39rem;height: 100%;background-image: url("../images/p2-7.png");right: 0;top:0;
    }
  }
}

.page-3 {
  //background-color: #00a0e4;
  padding-top: .2rem;
  .row-1 {
    height: 3.84rem;background: url("../images/p3-1-bg.png") center center no-repeat;background-size: contain;
    .item {
      width: 340px;height: 205.6px;overflow: hidden;background: url("../images/step/news-paper.png") 0 0 no-repeat;
      left:.15rem;top:-.4rem;
    }
    &.on {
      .item {
        animation: paper 1s steps(4);
       -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      img {
        transform: scale(1);transition-delay: 1s;
      }
    }
    img {
      @extend %txt-img;
      width: 3.36rem;height: 1.54rem;left: -.2rem;top:1.07rem;
    }
  }
  .row-2{
    height: 4.29rem;margin-top: .2rem;
    .item-1 {
      width: 3.3rem;height: 100%;left: 0;top:0;background-image: url("../images/p3-2-bg.png");z-index: 3;
      img {
        @extend %txt-img;width: 1.25rem;height: 2.06rem;right: 0;top:-.5rem;transition-delay: .4s;
      }
      .people {
        @extend %people;
        width:2.32rem;height: 3.6rem;background-image: url("../images/p3-2-people.png");
        left: .36rem;bottom:0;
      }
      &.slideInLeft {
        img {transform: scale(1);}
        .people {
          transform: translateY(0);
          opacity: 1;transition-delay: 1s;
        }
      }
    }
    .item-2 {
      width: 3.89rem;height: 2.23rem;top:0;right:0;background-image: url("../images/p3-3-bg.png");z-index: 1;
      img {
        @extend %txt-img;width: 1.97rem;height: 1.23rem;right: -.15rem;top:-.5rem;transition-delay: .8s;
      }
      &.fadeInRight img {transform: scale(1);}
    }
    .item-3 {
      width:3.67rem;height: 2.3rem;right:0;bottom:0;background-image: url("../images/p3-4-bg.png");z-index: 2;
      img {
        @extend %txt-img;width:3.04rem;height: 1.25rem;right: -.1rem;top:-.4rem;transition-delay: 1.2s;
      }
      &.fadeInRight img {transform: scale(1);}
    }
  }
  .row-3 {
    height:4.3rem;
    margin-top: .2rem;
    .item-1 {
      width: 100%;height:2.23rem;background-image: url("../images/p3-5-bg.png");
      .box {position: absolute;background-size: contain;}
      .box-1 {width: .31rem;height: .32rem;background-image: url("../images/p3-5-icon1.png");left: 1.1rem;top:.15rem;}
      .box-2 {width: .43rem;height: .45rem;background-image: url("../images/p3-5-icon2.png");left: 2.38rem;top:.15rem;}
      .box-3 {width: .31rem;height: .32rem;background-image: url("../images/p3-5-icon1.png");left: 4rem;top:.3rem;}
      .box-4 {width: .31rem;height: .32rem;background-image: url("../images/p3-5-icon1.png");right: 1.3rem;top:.2rem;}
      .box-5 {width: .2rem;height: .32rem;background-image: url("../images/p3-5-icon3.png");left: 3.5rem;top:1.16rem;}
    }
    .item-2 {
      width: 4.44rem;height: 2.22rem;background-image: url("../images/p3-6.png");left: 0;bottom:0;
      .mouse {
        width: 9px;height: 13px;background: url("../images/p3-6-txt.png") center center no-repeat;
        position: absolute;left: 2rem;top:1.26rem;
      }
      &.slideInLeft .mouse {transform: translate(1rem,-.6rem);transition:transform 1s;transition-delay: 1s;}
    }
    .item-3 {
      width: 2.71rem;height: 2.42rem;background-image: url("../images/p3-7.png");right: 0;bottom:0;overflow: hidden;
      .light {
        /*width:135px;height:121px;*/
        position: absolute;right:0;bottom:-1px;overflow: hidden;
        background: url("../images/p3-7-light-big.png") 0 0 no-repeat;
        background-size: 100% auto;
        width:2.71rem;height: 2.43rem;
      }
      &.slideInRight .light {animation: light2 .5s steps(7) infinite;}
    }
  }
}

@-webkit-keyframes light2 {
  to { background-position: 0 -17.1rem; }
}

.page-4 {
  //background-color: #00ffaa;
  padding-top: .2rem;
  .row-1 {

    height: 7.8rem;
    .item-1 {
      width: 100%;height: 2.5rem;left: 0;top:0;background-image: url("../images/p4-1.png");
    }
    .item-2 {
      width: 3.56rem;height: 2.78rem;left: 0;top:2.35rem;background-image: url("../images/p4-2.png");
    }
    .item-3 {
      width: 3.25rem;height: 2.76rem;right: 0;top:2rem;background-image: url("../images/p4-3.png");
      img {
        @extend %txt-img;
        width: 3.49rem;height: 1.7rem;right: 50%;top:-.8rem;
      }
      &.slideInRight img {transform: scale(1);}
    }
    .item-4 {
      width: 100%;height: 3.24rem;left: 0;bottom:0;background-image: url("../images/p4-4.png");
      img {
        @extend %txt-img;
        width:2.26rem;height: .77rem;right: -.15rem;top:.45rem;
      }
      &.slideInUp img {transform: scale(1);}
    }
  }
  .row-2 {
    margin-top: .2rem;
    height: 1.77rem;
    .item-1 {
      width: 4.71rem;height: 100%;left: 0;top:0;background-image: url("../images/p4-5.png");
      .people {
        @extend %people;width: 3.31rem;height: 1.31rem;background-image: url("../images/p4-5-people.png");
        left: .48rem;bottom:0;
      }
      &.slideInLeft .people {transform: translateY(0);opacity: 1;transition-delay: 1s;}
    }
    .item-2 {
      width: 2.58rem;height: 100%;right: 0;top:0;background-image: url("../images/p4-6.png");
    }
  }
  .row-3 {
    margin-top: .2rem;height: 2.76rem;
    .item {
      width: 100%;height: 100%;left: 0;top:0;background-image: url("../images/p4-7.png");
      img {
        @extend %txt-img;
        width: 2.19rem;height: 1.11rem;top:.2rem;left: -.15rem;
      }
      &.slideInUp img {transform: scale(1);}
    }
  }
}

.page-5 {
  //background-color: #2b2b2b;
  padding-top: .2rem;
  .row-1 {
    height: 3.06rem;overflow: hidden;
    .item {
      width: 100%;height: 100%;left: 0;top:0;
      img{
        @extend %txt-img;
        width:3.55rem;height: 1.01rem;left: 0;top:0;transform: scale(1);
      }
    }
    .item-1 {
      background-image: url("../images/p5-1-d.png");
      .video {
        width: 1.43rem;height: 1.25rem;position: absolute;left: 0;bottom:0;
        background: url("../images/p5-1-video.png") center center no-repeat;background-size: contain;
        transform: translateX(0);transition:transform 1s ease-out;
      }
      &.slideInLeft .video {transform: translateX(5rem);transition-delay: 6.5s;}
    }
    .item-2 {background-image: url("../images/p5-1-c.png");animation-duration: 4s;}
    .item-3 {background-image: url("../images/p5-1-b.png");animation-duration: 4s;}
    .item-4 {
      background-image: url("../images/p5-1-a.png");animation-duration: 4s;
      .icon {position: absolute;background-position: 0 0;background-size: contain;background-repeat: no-repeat;}
      .icon-1 {width: 19px;height: 17px;left: 1.77rem;top:.93rem;background-image: url("../images/p5-1-a-1.png");}
      .icon-2 {width: 22px;height: 19px;left: 2.07rem;top:1.15rem;background-image: url("../images/p5-1-a-2.png");}
      .icon-3 {width: 13px;height: 20px;left: 2.66rem;top:1.05rem;background-image: url("../images/p5-1-a-3.png");}
      .icon-4 {width: 18px;height: 20px;left: 4.4rem;top:.97rem;background-image: url("../images/p5-1-a-4.png");}
      .icon-5 {width: 19px;height: 35px;right: 1.83rem;top:.72rem;background-image: url("../images/p5-1-a-5.png");}
    }
  }
  .row-2 {
    margin-top: .2rem;height: 4.24rem;
    .item-1 {
      width: 3.86rem;height: 100%;left: 0;top:0;background-image: url("../images/p5-2.png");overflow: hidden;
      .people {
        width: 100%;height: 100%;background: url("../images/p5-2-people.png") 0 0 no-repeat;background-size: contain;
        transform: translateY(100%);
      }
      &.slideInLeft .people {
        transform: translateY(0);
        transition:transform .4s ease-out;
        transition-delay: 1s;
      }
    }
    .item-2 {
      width: 3.3rem;height: 2.2rem;right:0;top:0;background-image: url("../images/p5-3.png");
      transform: translateX(100%);opacity: 0;
      img {
        @extend %txt-img;
        width: 3.71rem;height: 1.52rem;top:-.25rem;left: -2rem;
      }
      &.on {
        transform: translateX(0);opacity: 1;transition: all .4s;transition-delay: .5s;
        img {transform: scale(1);}
      }
    }
    .item-3 {
      width: 3.12rem;height: 1.88rem;right: 0;bottom:0;background-image: url("../images/p5-4.png");
      transform: translateX(100%);opacity: 0;
      img{
        @extend %txt-img;
        width: 1.87rem;height: 1.31rem;left: 0;top:-.2rem;

      }
      .ball {width: 147px;height: 92.5px;overflow: hidden;background: url("../images/step/ball.png") 0 0 no-repeat;
        left:.15rem;bottom:0;position: absolute;
      }
      &.on {
        transform: translateX(0);opacity: 1;transition: all .4s;transition-delay: .5s;

        img {
          transform: scale(1);transition-delay: 2s;
        }
        .ball {
          animation: ball 2s steps(7);
          animation-delay: .5s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  .row-3 {
    height: 5.13rem;margin-top: .2rem;
    .item-1 {
      width: 100%;height: 2.53rem;left: 0;top:0;background-image: url("../images/p5-5.png");
      img {@extend %txt-img;width: 1.87rem;height: 1.31rem;right: -.1rem;top:-.1rem;}
      &.on img {transform: scale(1);}
    }
    .item-2 {
      width: 100%;height: 2.92rem;left: 0;bottom:0;background-image: url("../images/p5-6.png");
      overflow: hidden;
      .leaf {
        width: 4.59rem;height: 1.9rem;background: url("../images/p5-6-leaf.png") center center no-repeat;
        background-size: contain;position: absolute;top:0;right: 0;transform: translate(100px, -120px);
      }
      &.on {
        .leaf {transform: translate(-200px,100px);transition: transform 6s;}
      }
    }
    .item-3 {
      width: 100%;height: 2.92rem;left: 0;bottom:0;
      img {
        @extend %txt-img;
        width: 1.13rem;
        height: 2.49rem;
        left: -.1rme;top:-.3rem;transform: scale(1);}
    }
  }
}
.page-6 {
  //background-color: #2c3e50;
  padding-top: .1rem;
  .row-1 {
    height: 3.35rem;overflow: hidden;
    img{@extend %txt-img;width: 1.16rem;height: 2.52rem;left: 0;top:0;transform: scale(1);}
    .item-1 {
      width: 100%;height: 100%;left:0;top:0;background-image: url("../images/p6-1.png");
    }
    .item-2 {
      width: 100%;height: 100%;left:0;top:0;background-image: url("../images/p6-1b.png");animation-duration: 4s;
    }
  }
  .row-2 {
    height: 6.4rem;margin-top: .2rem;
    .item-1 {
      width: 100%;height: 2.45rem;left: 0;top:0;background-image: url("../images/p6-2.png");
      img {@extend %txt-img;width: 3.68rem;height: 1.26rem;right: -.1rem;top:-.1rem;}
      &.zoomIn img {transform: scale(1);}
    }
    .item-2 {
      width: 3.9rem;height: 2.34rem;left: 0;top:2.45rem;background-image: url("../images/p6-3.png");
    }
    .item-3 {
      width:2.86rem;height: 2.27rem;right: 0;top:2.28rem;background-image: url("../images/p6-4.png");
      .yan {width: 143px;height: 102.5px;left:0;top:0;overflow: hidden;background: url("../images/step/yanhua.png") 0 0 no-repeat;}
      &.slideInRight .yan {
        animation: yan 1s steps(9) infinite;

      }
    }
    .item-4 {
      width: 100%;height: 1.83rem;left: 0;bottom:0;background-image: url("../images/p6-5.png");
      text-align: center;padding-top: .8rem;color: #00cb5a;font-size: .32rem;letter-spacing: 2px;
    }
  }
  .row-3 {
    height: 2.49rem;margin-top: .15rem;
    .item {
      width: 100%;height: 100%;left: 0;top:0;background-image: url("../images/p6-6.png");
      img {@extend %txt-img;width: 1.94rem;height: 1.47rem;left: -.1rem;top:-.1rem;}
      &.fadeIn img {transform: scale(1);}
    }
  }
}

.page-7 {
  height: 100vh;margin-top: .2rem;
  background: url("../images/p7.png") center center no-repeat;position: relative;
  background-size: 100%;
  .txt-box {
    color: #fff;display: flex;min-height: 100vh;opacity: 0;transition: opacity .1s;
    .txt {
      margin: auto;
      width: 64%;
      h1 {font-size:.3rem;margin-bottom: 1.3rem;}
      p {font-size: .26rem;line-height: 1.8;margin-bottom: 1.4rem;}
      h2 {text-align: right;opacity: 0;}
    }
    &.print {opacity: 1;}
  }
}
.page-8 {
  width: 100%;height: 100vh;padding-top: 23%;background: url("../images/p7.png") center center no-repeat;position: relative;
  .logo-img {
    width: 81.33333%;margin: 0 auto;
    img {max-width: 100%;}
    .btns {
      margin-top: 1.6rem;
      .btn {width: 2.67rem;height: 1.13rem;}
      .l {float: left;background: url("../images/p8-icon1.png") center center no-repeat;background-size: contain;}
      .r {float: right;background: url("../images/p8-icon2.png") center center no-repeat;background-size: contain;}
    }
  }
  .share {
    width: 1rem;height: 1rem;position: absolute;right: 20px;top:20px;
    background: url("../images/share.png") left top no-repeat;
    background-size: contain;display: none;
  }
}



.video {animation-name: video;}
@keyframes video {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}






// 动画集合
@-webkit-keyframes boom {
  to { background-position: 0 -700px; }
}
@-webkit-keyframes light {
  to { background-position: 0 -532px; }
}

@-webkit-keyframes paper {
  to { background-position: 0 -822.4px; }
}
@-webkit-keyframes ball {
  to { background-position: 0 -647.5px; }
}
@-webkit-keyframes yan {
  to { background-position: 0 -1025px; }
}
@-webkit-keyframes cloud {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/*加载动画*/
.loading {
  width: 100%;height: 100vh;position: fixed;left: 0;top:0;background-color: #d4e7ba;opacity: 1;transition: opacity 1s;z-index: 99;
  transition-delay: 1.5s;
}
.loading .proses {position: absolute;bottom:20%;left: 0;text-align: center;width: 100%;}
.loading.loaded {opacity: 0;}

.wrapper{
  width: 100%;height: 100vh;
  background: -webkit-linear-gradient(top, rgba(0, 141, 210, 0.63) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 141, 210, 0.63) 0%, transparent 100%);

}
.littleH{
  position: relative;left: 12%;top:10%;transform: scale(.8);
}
.bodyH{
  position: absolute;
  width: 240px;
  height: 400px;
  border:5px solid #000;
  border-radius: 115px;
  background: rgb(249,217,70);
  overflow: hidden;
  z-index: 2;
}
.bodyH .condoleBelt{
  position: absolute;
}
.bodyH .condoleBelt .left,
.bodyH .condoleBelt .right{
  width: 100px;
  height: 16px;
  border:5px solid #000;
  background: rgb(32,116,160);
  position: absolute;
  top:-90px;
  left:-35px;
  z-index: 2;
  -webkit-transform:rotate(45deg);
}
.bodyH .condoleBelt .left{
  top:-88px;
  left:165px;
  -webkit-transform:rotate(-45deg);
}
.bodyH .condoleBelt .left:after,
.bodyH .condoleBelt .right:after{
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top:4px;
  left:88px;
}

.bodyH .condoleBelt .left:after{
  left:5px;
}
.bodyH .trousers{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: 6px solid #000;
  background: rgb(32,116,160);
}
.trousers_top{
  width: 160px;
  height: 60px;
  border:6px solid #000;
  border-bottom: none;
  border-radius: 0 0 5px 5px;
  background: rgb(32,116,160);
  position: absolute;
  bottom: 100px;
  left:34px;
}
.pocket{
  width: 60px;
  height: 45px;
  border:6px solid #000;
  border-radius: 0px 0px 25px 25px;
  position: absolute;
  bottom:65px;
  left:84px;
}
.line_right{
  width: 30px;
  height: 30px;
  border-bottom-left-radius: 100px;
  border-bottom:6px solid #000;
  border-left:6px solid #000;
  position: absolute;
  left: 0;
  bottom:60px;
  -webkit-transform:rotate(-75deg);
}
.line_left{
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 100px;
  border-bottom:6px solid #000;
  border-right:6px solid #000;
  position: absolute;
  right: 0;
  bottom:63px;
  -webkit-transform:rotate(75deg);
}
.line_bottom{
  height: 40px;
  border:3px solid #000;
  border-radius: 3px;
  position: absolute;
  left:118px;
  bottom: 0px;
}
.hair{
  position: relative;
}
.left_hair_one{
  width: 130px;
  height: 100px;
  border-radius: 50%;
  border-top:8px solid #000;
  position: absolute;
  left:17px;
  top:-17px;
  -webkit-transform:rotate(27deg);
  -webkit-animation: lefthair 2s ease-in-out infinite;
}
@-webkit-keyframes lefthair{
  0%,25%,31%,100%{
  }
  30%{
    -webkit-transform: rotate(31deg) translate3d(-3px,-1px,0);
  }
}
.left_hair_two{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top:6px solid #000;
  position: absolute;
  left:45px;
  top:-10px;
  -webkit-transform:rotate(15deg);
}
.eyes{
  position: relative;
  z-index: 3;
}
.eyes .leftEye,.eyes .rightEye{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border:6px solid #000;
  background: #fff;
  position: absolute;
  top:60px;
  left: 27px;
}
.eyes .leftEye{
  left: 124px;
}
.eyes .leftEye .left_blackEye,
.eyes .rightEye .right_blackEye{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top:24px;
  left:22px;
  -webkit-animation: blackeye 5s ease-in infinite;
}
@-webkit-keyframes blackeye{
  0%,20%,50%,70%,100%{
    -webkit-transform: translateX(0px);
  }
  30%,40%{
    -webkit-transform: translateX(15px);
  }
  80%,90%{
    -webkit-transform: translateX(-15px);
  }
}
.eyes .leftEye .left_blackEye .left_white,
.eyes .rightEye .right_blackEye .right_white{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top:7px;
  left:17px;
  -webkit-animation: whiteeye 5s ease-in-out infinite;
}
@-webkit-keyframes whiteeye{
  0%,20%,50%,70%,100%{
    -webkit-transform: translateX(0px);
  }
  30%,40%{
    -webkit-transform: translate3d(3px,4px,0);
  }
  80%,90%{
    -webkit-transform: translate3d(-15px,4px,0);
  }
}
.eyes .leftEye .left_blackEye .left_white{
  top:4px;
  left:17px;
}
.eyes .leftEye:after,
.eyes .rightEye:after{
  content: '';
  width: 28px;
  height: 18px;
  background: #000;
  position: absolute;
  left:-30px;
  top:37px;
  -webkit-transform:skewX(20deg) rotate(7deg);
}
.eyes .leftEye:after{
  left:89px;
  top:37px;
  -webkit-transform:skewX(-20deg) rotate(-7deg);
}
.mouse{
  position: relative;
}
.mouse .mouse_shape{
  width: 55px;
  height: 35px;
  border:5px solid #000;
  border-bottom-left-radius: 30px;
  background: #fff;
  position: absolute;
  top:175px;
  left:98px;
  z-index: 3;
  -webkit-transform:rotate(-35deg);
  -webkit-animation: mouse 5s ease-in-out infinite;
}
@-webkit-keyframes mouse{
  40%,43%{
    width: 45px;
    height: 25px;
    top:180px;
  }
  0%,35%,48%,100%{
    width: 55px;
    height: 35px;
    top:175px;
    -webkit-transform:rotate(-35deg);
  }
}
.mouse .mouse_shape:after{
  content: '';
  width: 70px;
  height: 32px;
  border-bottom:5px solid #000;
  border-radius:35px 26px 5px 5px;
  background: rgb(249,217,70);
  position: absolute;
  top:-16px;
  left:3px;
  -webkit-transform:rotate(34deg);
  -webkit-animation: mouse_mask 5s ease-in-out infinite;
}
@-webkit-keyframes mouse_mask{
  40%,43%{
    width: 60.5px;
    top:-19.3px;
    left:1.5px;
  }
  0%,35%,48%,100%{
    width: 70px;
    top:-16px;
    left:3px;
    -webkit-transform:rotate(33deg);
  }
}
.hands{
  position: relative;
}
.hands .leftHand,
.hands .rightHand{
  width: 80px;
  height: 80px;
  border:6px solid #000;
  border-radius: 25px;
  background: rgb(249,217,70);
  position: absolute;
  top:220px;
  left:-23px;
  -webkit-transform:rotate(40deg);
  -webkit-animation:rightHand .8s ease-in-out infinite;
}
@-webkit-keyframes rightHand{
  0%,50%,100%{
    -webkit-transform: rotate(40deg);
  }
  30%{
    -webkit-transform: rotate(37deg) translateX(1px);
  }
}
.hands .leftHand{
  left:182px;
  top:220px;
  -webkit-transform:rotate(-40deg);
  -webkit-animation:leftHand .8s ease-in-out infinite;
}
@-webkit-keyframes leftHand{
  0%,50%,100%{
    -webkit-transform: rotate(-40deg);
  }
  80%{
    -webkit-transform: rotate(-37deg) translateX(-1px);
  }
}
.hands .leftHand:after,
.hands .rightHand:after{
  content: '';
  width: 6px;
  border:3px solid #000;
  border-radius: 3px;
  position: absolute;
  left:13px;
  top:50px;
  -webkit-transform:rotate(90deg);
}

.hands .leftHand:after{
  left:53px;
  top:50px;
  -webkit-transform:rotate(-90deg);
}
.feet{
  position: relative;
}
.feet .left_foot,
.feet .right_foot{
  width: 36px;
  height: 50px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 9px;
  background: #000;
  position: absolute;
  top: 406px;
  left:88px;
  -webkit-transform-origin: right top;
  -webkit-animation: rightfoot .8s ease-in-out infinite;
}
@-webkit-keyframes rightfoot{
  0%,50%,100%{
    -webkit-transform: rotate(0deg);
  }
  80%{
    -webkit-transform: rotate(10deg);
  }
}
.feet .left_foot{
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 6px;
  left:130px;
  -webkit-transform-origin: left top;
  -webkit-animation: leftfoot .8s ease-in-out infinite;
}
@-webkit-keyframes leftfoot{
  0%,50%,100%{
    -webkit-transform: rotate(0deg);
  }

  30%{
    -webkit-transform: rotate(-10deg);
  }
}
.feet .left_foot:after,
.feet .right_foot:after{
  content: '';
  width: 60px;
  height: 35px;
  border-radius: 20px 10px 21px 15px;
  background: #000;
  position: absolute;
  left:-36px;
  top:14.4px;
  -webkit-transform:rotate(5deg);
}
.feet .left_foot:after{
  border-radius: 10px 20px 15px 21px;
  left:13px;
  -webkit-transform:rotate(-5deg);
}
.groundShadow{
  width: 200px;
  height: 2px;
  border-radius: 50%;
  background: rgba(0,0,0,0.3);
  box-shadow: 0 0 2px 4px rgba(0,0,0,0.3);
  position: relative;
  top: 455px;
  left:25px;
}


