.wrap {
  width: 1140px;
  margin: 0 auto;
}
.alan-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  .wrap {
    height: $headerHieght;
    border-bottom: 1px solid $borderNormal;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.alan-body {
  height: calc(100vh - #{$headerHieght});
  overflow-y: scroll;
  .alan-nav {
    position: fixed;
    top: calc(1px + #{$headerHieght});
    bottom: 0;
    width: $navBarWidth;
    height: calc(100vh - #{$headerHieght});
    padding:30px 15px 30px 24px;
    overflow-y: auto;
    color: #333;
    background-color: #fff;
    a {
      &.router-link-exact-active,&:hover {
        color: blue;
      }
    }
    dl {
      margin-bottom: 5px;
    }
    dt {
      font-size: 16px;
      color: #333;
      line-height: 40px;
      height: 40px;
      font-weight: 700;
    }
    dd {
      height: 40px;
      color: #444;
      line-height: 40px;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
    }
  }
  
  .alan-contain {
    margin-left: calc(30px + #{$navBarWidth});
    padding-top: 30px;
    height: 100%;
  }
}

.hljs {
  line-height: 1.8;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
  padding: 18px 24px;
  background-color: #fafafa;
  border: solid 1px #eaeefb;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}


.hello-doc {

  h2 {
    font-size: 28px;
    color: #1f2d3d;
    margin: 0;
  }
  h3 {
    font-size: 22px;
    margin: 55px 0 20px;
  }
  h2, h3, h4, h5 {
    font-weight: normal;
    color: #1f2f3d;

    &:hover a {
      opacity: .4;
    }

    a {
      float: left;
      margin-left: -20px;
      opacity: 0;
      cursor: pointer;

      &:hover {
        opacity: .4;
      }
    }
  }

  p {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
  }

  .tip {
    padding: 8px 16px;
    background-color: #ECF8FF;
    border-radius: 4px;
    border-left: #50bfff 5px solid;
    margin: 20px 0;

    code {
      background-color: rgba(255, 255, 255, .7);
      color: #445368;
    }
  }

  .warning {
    padding: 8px 16px;
    background-color: #fff6f7;
    border-radius: 4px;
    border-left: #FE6C6F 5px solid;
    margin: 20px 0;

    code {
      background-color: rgba(255, 255, 255, .7);
      color: #445368;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;

    strong {
      font-weight: normal;
    }

    td, th {
      border-bottom: 1px solid #dcdfe6;
      padding: 15px;
      max-width: 250px;
    }

    th {
      text-align: left;
      white-space: nowrap;
      color: #909399;
      font-weight: normal;
    }

    td {
      color: #606266;
    }

    th:first-child, td:first-child {
      padding-left: 10px;
    }
  }

  ul:not(.timeline) {
    margin: 10px 0;
    padding: 0 0 0 20px;
    font-size: 14px;
    color: #5e6d82;
    line-height: 2em;
  }
}
