@import './hljs.scss';
@import './common.scss';
@import './demo-style/index.scss';

@media screen and (min-width:780px) {
  $headerHieght: 80px;
  $navBarWidth: 240px;
  @import './_layout.scss';
}


@media screen and (max-width:780px) {
  $headerHieght: 50px;
  $navBarWidth: 170px;
  @import './_layout.scss';
}