.demo-dragsort {
  .card {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: green;
    color: #fff;
    position: relative;
    span {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 24px;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      background-color: antiquewhite;
      color: #333;
    }
    &.selected {
      background-color: blue;
    }
  }
}
